*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 14px;
}

p,h1,h2,h3,h4,h5{
  margin: 5px 1px;
}

body{
  width: 100%;
  min-height: 100vh;
  font-family: 'Cascadia Code', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}

header {
  background-color: royalblue;
  color: yellow;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: blueviolet;
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

footer{
  height: 10vh;
  background-color: tomato;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h1 {
  font-size: 18px;
}

button {
  padding: 0.5rem;
  margin: 0.2rem;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li ::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: gold;
  color: blueviolet;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 35px;
  min-width: 48px;
  height: 35px;
  min-height: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
}


.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.item svg {
  width: 30px;
  min-width: 28px;
  height: 30px;
  color: blueviolet;
  cursor: pointer;
  margin: 0 1rem;
  transition: 0.4s;
}

.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}

.loader{
  text-align: center;
  margin: 5rem auto;
  color: green;
}